extends ../../mixins/catalog
include ../../mixins/catalogList 
include ../../mixins/topbar 

block topbar
  +topbar('catalog', catalog.celebration.name)

block content
  +catalogList(catalog.celebration)
