extends ../../mixins/catalog
include ../../mixins/catalogList 
include ../../mixins/topbar 

block head
  - var title = catalog.homewares.name + " | Богатый Мир Упаковки"
  - var description = "Богатый Мир Упаковки. Упаковка, Хозяйственные, Канцелярские товары, Подарки"
  - var keywords = "Пакеты, пакеты в рулонах, пакеты для мусора, шпагат, бутылки, чековая лента, перчатки, канцелярские, хозяйственные , оптовая база, пленка, стрейч, туалетная бумага, ложки, ножи, вилки, бытовая химия, для мытья посуды, для мытья стекол, бахилы, ценники, бумага, блокноты, тетради,  ПНД, ПВД, пакеты майка,   термоусадочные пленки, скотч, упаковка, упаковочка, одноразовая посуда, бму"
  +head(title, description, keywords)

block topbar
  +topbar('catalog', catalog.homewares.name)
  
block content
  +catalogList(catalog.homewares)
