extends ../../mixins/catalog
include ../../mixins/catalogList 
include ../../mixins/topbar 

block topbar
  +topbar('catalog', catalog.homewares.name)
  
block content
  +catalogList(catalog.homewares)
