extends ../../mixins/catalog
include ../../mixins/catalogList 
include ../../mixins/topbar 

block topbar
  +topbar('catalog', catalog.upakovka.name)
  
block content
  +catalogList(catalog.upakovka)
