extends ../mixins/catalog
include ../mixins/topbar 

block topbar
  +topbar('catalog')

block content
  .catalog-hero
    .catalog-hero-image-wr
      .catalog-hero-image
    .row
      .columns.large-12
        h1.text-center Каталог
        //- p.text-center
        //-   | Осуществляем доставку. У нас более 3'500 товаров.
        //-   br
        //-   | За прайс-листом обращайтесь к нашим Менеджерам!
        //- p.text-center
        //-   | Для оптовых заказов предлагаем
        //-   b  индивидуальные цены.
    .row
      .columns.large-12  
        ul.catalog-index-list
        ul.large-block-grid-2.medium-block-grid-1.small-block-grid-1.catalog-index-list
          each category, key in catalog
            li.catalog-item-wr
              .catalog-item(style="box-shadow: none;")
                .catalog-item-title
                  a(href=category.link)
                    .catalog-item-image(style = "background-image: url('" + category.imageMini + "');")
                .catalog-item-text
                  h4= category.name 
                  p 
                    = category.description
                  p
                    a(href=category.link) 
                      | Подробнее 
                      i.fa.fa-long-arrow-right
