extends ../mixins/layout
include ../mixins/topbar 

block head
  - var title = "Рассылка от БМУ"
  - var description = "Получайте прайс-листы, информацию о скидках и акциях и специальных предложениях"
  - var keywords = "Подписка, акции, пакеты, скидки, упаковка, Производство, полиэтиленовые, Пакеты,в рулонах, в блоках, для мусора, шпагат, бутылки, чековая лента, перчатки, канцелярские, хозяйственные , оптовая база, пленка, стрейч, туалетная бумага, ложки, ножи, вилки, бытовая химия, для мытья посуды, для мытья стекол, бахилы, ценники, бумага, блокноты, тетради,  ПНД, ПВД, пакеты майка, термоусадочные пленки, скотч, упаковка, упаковочка, одноразовая посуда, бму"
  +head(title, description, keywords)
  
block topbar
  +topbar('production')
  
block content 
  .row
    .columns.large-12
      h1 Подписка
  .row

    .columns.large-7
      p Раз в неделю мы присылаем лучшие предложения на почту. 
      //- p Богатый Мир Упаковки благодарит Вас за интерес к нашей компании! 
      .panel.callout.radius
        p Мы заботимся о наших партнерах и намерены развивать более тесные связи. Для Вас мы подготовили информационную рассылку. 
        p Теперь Вы сможете получать горячие предложения моментально!
        b Мы пишем про:
        ul
          li Поступления товаров
          li Акции
          li Скидки
          li Выгодные предложения
          li Новости
    .columns.large-5
        // Begin MailChimp Signup Form
        link(href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css")
        style(type="text/css").
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action="//space.us13.list-manage.com/subscribe/post?u=42fad91015d9344b12e8586c6&id=b4dc660367" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="")
            #mc_embed_signup_scroll
              .mc-field-group
                label(for="mce-EMAIL")
                  | Email  
                  span.asterisk *
                input#mce-EMAIL.required.email(type="email" value="" name="EMAIL" placeholder="Электронный адрес")
              .mc-field-group
                label(for="mce-MMERGE3") Телефон 
                input#mce-MMERGE3(type="text" name="MMERGE3" value="" placeholder="Например: +7 (8162) 33-21-32")
              .mc-field-group
                label(for="mce-LNAME") Имя 
                input#mce-LNAME(type="text" value="" name="LNAME" placeholder="Как к Вам обращаться?")
              .mc-field-group.input-group
                strong Ваши Интересы 
                ul
                  li
                    input(type="checkbox" value="1" name="group[13617][1]" id="mce-group[13617]-13617-0")
                    label(for="mce-group[13617]-13617-0") Производство
                  li
                    input(type="checkbox" value="2" name="group[13617][2]" id="mce-group[13617]-13617-1")
                    label(for="mce-group[13617]-13617-1") Канцелярия
                  li
                    input(type="checkbox" value="4" name="group[13617][4]" id="mce-group[13617]-13617-2")
                    label(for="mce-group[13617]-13617-2") Упаковочные материалы / пленки
                  li
                    input(type="checkbox" value="8" name="group[13617][8]" id="mce-group[13617]-13617-3")
                    label(for="mce-group[13617]-13617-3") Хозяйственные товары и бытовая химия
              .indicates-required
                span.asterisk *
                |  Обязательные поля
              #mce-responses.clear
                #mce-error-response.response(style="display:none")
                #mce-success-response.response(style="display:none")
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style="position: absolute; left: -5000px;" aria-hidden="true")
                input(type="text" name="b_42fad91015d9344b12e8586c6_b4dc660367" tabindex="-1" value="")
              .clear
                input#mc-embedded-subscribe.button(type="submit" value="Подписаться" name="subscribe" onclick="yaCounter45549195.reachGoal('clickSubsc'); return true;")
        script(type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
        script(type="text/javascript").
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='phone';fnames[2]='LNAME';ftypes[2]='text'; /*
          * Translated default messages for the $ validation plugin.
          * Locale: RU
          */
          $.extend($.validator.messages, {
          required: "Это поле необходимо заполнить.",
          remote: "Пожалуйста, введите правильное значение.",
          email: "Пожалуйста, введите корректный адрес электронной почты.",
          url: "Пожалуйста, введите корректный URL.",
          date: "Пожалуйста, введите корректную дату.",
          dateISO: "Пожалуйста, введите корректную дату в формате ISO.",
          number: "Пожалуйста, введите число.",
          digits: "Пожалуйста, вводите только цифры.",
          creditcard: "Пожалуйста, введите правильный номер кредитной карты.",
          equalTo: "Пожалуйста, введите такое же значение ещё раз.",
          accept: "Пожалуйста, выберите файл с правильным расширением.",
          maxlength: $.validator.format("Пожалуйста, введите не больше {0} символов."),
          minlength: $.validator.format("Пожалуйста, введите не меньше {0} символов."),
          rangelength: $.validator.format("Пожалуйста, введите значение длиной от {0} до {1} символов."),
          range: $.validator.format("Пожалуйста, введите число от {0} до {1}."),
          max: $.validator.format("Пожалуйста, введите число, меньшее или равное {0}."),
          min: $.validator.format("Пожалуйста, введите число, большее или равное {0}.")
          });}(jQuery));var $mcj = jQuery.noConflict(true);
        // End mc_embed_signup
