mixin catalogList(category)
  .catalog-list
    .category-image-wr
      h1= category.name
      .category-image(style = "background-image: url('" + category.image + "');")
    ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
      each subcategory in category.subcategories
        li
          table.hover.fullwidth
            thead
              tr
                th= subcategory.subcategory
            each item in subcategory.items
              tr
                td
                  = item.name 
                  | 
                  if item.production
                    a(href="/production.html")
                      span.label.alert.radius.radius
                        i.fa.fa-gear 
                    
                  if item.description
                    small &nbsp; (
                      = item.description
                      | )                      
        //- li.offer-card
        //-   h3.offer= subcategory.subcategory
        //-   ul.offer-text
        //-     each item in subcategory.items
        //-       li
        //-         span= item.name
        //-         if item.description
        //-           small &nbsp; (
        //-             = item.description
        //-             | )
