mixin scripts-bottom()
  script(type="text/javascript", src='https://code.jquery.com/jquery-2.2.4.min.js')
  script(type="text/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js')
  script.
    $(document).foundation();
