mixin scripts-bottom()
  script(type="text/javascript", src='https://code.jquery.com/jquery-2.2.4.min.js')
  script(type="text/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js')
  script.
    $(document).foundation();
  script(src="https://vk.com/js/api/openapi.js?147" type="text/javascript")
  div( id="vk_community_messages")
  script(type="text/javascript").
    VK.Widgets.CommunityMessages("vk_community_messages", 27287025);
