mixin scripts-bottom()
  script(data-dojo-config="usePlainJson: true, isDebug: false", src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", type="text/javascript")
  script.
    require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"42fad91015d9344b12e8586c6","lid":"b4dc660367"}) })
  script(type="text/javascript", src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(type="text/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js')
  script.
    $(document).foundation();
