mixin sidebar()
  ul.side-nav
    li
      b Каталог товаров
    li
      a(href="/catalog/upakovka.html")
        | Упаковка &nbsp;
        span.alert.label.radius
          i.fa.fa-gear
    li
      a(href="/catalog/plastic.html") Одноразовая посуда и Пластик
    li
      a(href="/catalog/homewares.html") Хозяйственные товары
    li
      a(href="/catalog/stationery.html") Канцелярские товары
    li
      a(href="/catalog/flowersgifts.html") Оформление цветов и подарков
    li
      a(href="/catalog/gifts.html") Подарки, декор и оформление
    li
      a(href="/catalog/celebration.html") Оформление праздников
      
  p.text-center
    i.fa.fa-envelope-o
    br
    a(href="/subscription.html") Новостная рассылка
    br
    small Скидки, предложения и новости. 
  p.text-center
    small
      span.alert.label.radius
        i.fa.fa-gear
      br
      | —
      br
      a(href="/production.html") собственное производство
