mixin sidebar()
  ul.side-nav
    li
      b Каталог товаров
    li
      a(href="/catalog/upakovka.html")
        | Упаковка 
        span.alert.label.radius
          i.fa.fa-gear
    li
      a(href="/catalog/plastic.html") Пластик и посуда
    li
      a(href="/catalog/housewares.html") Хозяйственные товары
    li
      a(href="/catalog/stationery.html") Канцелярские товары
    li
      a(href="/catalog/flovers-and-gifts.html") Оформление цветов и подарков
    li
      a(href="/catalog/gifts.html") Подарки, декор и оформление
    li
      a(href="/catalog/celebration.html") Оформление праздников
    li
      span.alert.label.radius
        i.fa.fa-gear
      |  — собственное производство
