mixin topbarsub(currentPage)
  .row
    .columns.large-12
      dl.center.sub-nav.topbarsub
        dd(class=currentPage == 'index' ? 'active' : '')
          a(href="/" ) Главная 
        dd(class=currentPage == 'production' ? 'active' : '')
          a(href="/production.html") Продукция
        dd(class=currentPage == 'catalog' ? 'active' : '')
          a(href="/catalog.html") Каталог
        dd(class=currentPage == 'contacts' ? 'active' : '')
          a(href="/contacts.html") Контакты
