mixin topbar()
  nav.top-bar(data-topbar="", role="navigation")
    ul.title-area
      li.brand.name
        a(href="/")
          img.brand-img(src="/images/smallLogo.jpg")
          h1.brand-name Богатый Мир Упаковки
    section.navbar-right.top-bar-section
      ul.right
        li
          a.navbar-email(href="mailto:sales@bmupack.ru", onclick="yaCounter45549195.reachGoal('sendEmail'); return true;") sales@bmupack.ru
        li
          a.navbar-phone(href="tel:88162332132", onclick="yaCounter45549195.reachGoal('callPhone'); return true;")
            i.fa.fa-phone &nbsp;
            span +7 8162 33-21-32
    span.hide-for-medium-down.navbar-text.hide.navbar-text-addr.right
      | ул. Великая, 22, В. Новгород  &nbsp;
      a.fa.fa-map-o(href="https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target="_blank", onclick="yaCounter45549195.reachGoal('openMap'); return true;")
