mixin topbarsub()
  .row
    .columns.large-12
      dl.center.sub-nav
        dd
          a(href="/") Главная
        dd
          a(href="/production.html") Продукция
        dd.active
          a(href="/catalog.html") Каталог
        dd
          a(href="/gift.html") Подарки
        dd
          a(href="/contacts.html") Контакты
