%html
  %head
    %title Богатый Мир Упаковки: Каталог
    %link{rel: 'stylesheet', type: 'text/css', href: 'css/main.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'}
    %link{:href => "apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "manifest.json", :rel => "manifest"}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
    %meta{:content => "ms-icon-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}
    %meta{name:"robots", content: "index,follow"}
    %meta{:content => "Богатый Мир Упаковки. Упаковка, Хозяйственные, Канцелярские товары, Подарки", :name => "description"}
    %meta{:content => "Пакеты, пакеты в рулонах, пакеты для мусора, шпагат, бутылки, чековая лента, , перчатки, канцелярские, хозяйственные , оптовая база, пленка, стрейч, туалетная бумага, ложки, ножи, вилки, бытовая химия, для мытья посуды, для мытья стекол, бахилы, ценники, бумага, блокноты, тетради,  ПНД, ПВД, пакеты майка,   термоусадочные пленки, скотч, упаковка, одноразовая посуда, бму", :name => "keywords"}
    %script{src: 'js/app.js'}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40928872-1', 'auto');
      ga('send', 'pageview');

    %script{:type => "application/ld+json"}
      {
        "@context": "http://schema.org",
        "@type": "Store",
        "image": "http://bmupack.ru/images/smallLogo.jpg",
        "@id": "http://bmupack.ru",
        "name": "Богатый Мир Упаковки",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Великая ул., 22",
          "addressLocality": "Великий Новгород",
          "addressRegion": "Новгородская область",
          "postalCode": "173003",
          "addressCountry": "RU"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 58.540999,
          "longitude": 31.267749
        },
        "url": "http://bmupack.ru",
        "sameAs": [
          "http://instagram.com/bmupack",
          "https://vk.com/bmupack"
        ],
        "telephone": "+78162332132",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" ],
            "opens": "9:00",
            "closes": "17:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": "Saturday",
            "opens": "9:00",
            "closes": "14:00"
          }
        ],
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-32",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-31",
            "contactType": "sales"
          },
          {
            "@type": "ContactPoint",
            "telephone": "+7-8162-33-21-33",
            "contactType": "sales"
          }
        ]
      }

    :javascript
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45549195 = new Ya.Metrika({ id:45549195, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>
  %noscript
    %div
      %img{ src: "https://mc.yandex.ru/watch/45549195", style: "position:absolute; left:-9999px;", alt: "" }
  %body
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}

      %ul.title-area
        %li.name.brand
          %a{:href => "/"}
            %img.brand-img{src: "images/smallLogo.jpg"}
            %h1.brand-name Богатый Мир Упаковки

      %section.top-bar-section.navbar-right
        %ul.right
          %li
            %a.navbar-email{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} sales@bmupack.ru
          %li
            %a.navbar-phone{:href => "tel:88162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
              %i.fa.fa-phone
              %span +7 8162 33-21-32
      %span.navbar-text-addr.right.hide-for-medium-down{class: "navbar-text hide"}
        ул. Великая, 22, В. Новгород
        %a.fa.fa-map-o{href:"https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target: "_blank", onclick: "yaCounter45549195.reachGoal('openMap'); return true;"}

    .row
      .columns.large-12
        %dl.sub-nav.center
          %dd
            %a{:href => "/"} Главная
          %dd
            %a{:href => "/production.html"} Продукция
          %dd
            %a{:href => "/catalog.html"} Каталог
          %dd.active
            %a{:href => "/gift.html"} Подарки
          %dd
            %a{:href => "/contacts.html"} Контакты

    .catalog-hero
      .catalog-hero-image-wr
        .catalog-hero-image
      .row
        .large-12.columns
          %h1.text-center Для праздников
          %p.text-center
            Упаковка и украшения для цветов и подарков. Всё для оформления и проведения Cвадьбы, Дня Рождения, подарки для Новорожденного.
            %br
            Подарочные наборы, сувениры, свечи. Не забудьте про воздушные шарики!
            %br
            %b Прайс-лист
            и
            %bиндивидуальные цены
            предложат наши Менеджеры!
        .columns.large-12.text-center
          %ul.button-group.even-1
            %li
              %a.button.small.alert.text-center{:href => "tel:88162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
                %i.fa.fa-phone
                %b +7 (8162) 33-21-32
            %li
              %a.button.small.alert.text-center{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"}
                %i.fa.fa-envelope-o
                %b sales@bmupack.ru

    .row-large.dark-background.catalog
      .row
        .large-12.columns

          -# %p Более 3500 товаров по отличным ценам!
          -# %p
          -#   %span.label.alert.radius
          -#     %i.fa.fa-gear
          -#   &nbsp;— собственное производство

      .row
        .large-12.columns
          -#########################################
          -#########################################  Оформление цветов
          -#########################################
          %p.subheader-on-dark Флористика — создание букетов, композиций, панно и коллажей из цветов и других природных материалов, а так же направление в искусстве и дизайне. Существует множество разнообразных техник, позволяющих создавать великолепные букеты! В нашем магазине мы можете найти материалы для создания украшений из цветов: ленты, бумагу, фетр и сизаль, сумки, коробки, элементы оформления, а так же необходимые инструменты!
          %h3.header-on-dark Оформление цветов и подарков

          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3


            %li.offer-card
              %h3.offer Ленты
              %ul.offer-text
                %li Лента Ажурная
                %li Лента Аспидистр
                %li Лента Атласная
                %li Лента декоративная
                %li Лента кокон
                %li Лента кружево
                %li Лента металлизированная
                %li Лента органза
                %li Лента простая
                %li Лента Раффия
                %li Лента с золотой полосой
                %li Тейп лента

            %li.offer-card
              %h3.offer Упаковка для цветов
              %ul.offer-text
                %li Фетр
                %li Сизалевое полотно
                %li Фоамиран
                %li Гофра
                %li Органза
                %li Бумага
                %li Бумага крафт
                %li Бумага жатая
                %li Бумага дизайнерская
                %li Бумага ламинированная в листах
                %li Бумага тишью
                %li Пленка в листах
                %li Пленка в рулоне, прозрачная
                %li Пленка в рулоне, прозрачная с рисунком
                %li Пленка в рулоне, тонированная
                %li Полисилк


            %li.offer-card
              %h3.offer Оформление для цветов
              %ul.offer-text
                %li Сизалевое волокно
                %li Блестки
                %li Бонсай
                %li Брадсы
                %li Булавки, Прищепки
                %li Бусинки, Стразы
                %li Жемчужины из гидрогеля
                %li Бабочки, стрекозы, шмели
                  %small (декоративные)
                %li Декоративные вставки
                %li Декоративные птички
                %li Декоративные цветы, фрукты, овощи
                %li Игрушки для букетов
                  %small (свадебные)
                %li Липучки, наклейки
                %li Перья
                %li Ракушки
                  %small (сизопласт)
                %li Тэги
                  %small (картон)

                %li Ветки с ягодами и плодами
                %li Искусственные цветы
                  %small (интерьерные)
                %li Сухоцветы, природные материалы
                  %small (лагурус, мох, парана стем)
                %li Фрукты и овощи для декора и интерьера
                %li Бусы на нити

            %li.offer-card
              %h3.offer Основы для оформления цветов
              %ul.offer-text
                %li Каркасы и поддоны
                  %small (сизаль)
                %li Удлинитель для цветов
                %li Кашпо
                %li Корзины
                %li Оазисы, пена флористическая, портбукетницы
                %li Вазы
                  %small (стекло, пластик)
                %li Шары, диски, кольца, шарики
                  %small (пенопласт)
                %li Лен
                %li Пакеты для цветов
                  %small (конус, рукав, рюмка, салфетка)
                %li Сетка для цветов
                  %small (ажурная, полифлор, рабица)

            %li.offer-card
              %h3.offer Инструменты для оформления цветов
              %ul.offer-text
                %li Пистолет для клея и твердый клей
                %li Шредеры для ленты
                %li Проволока
                %li Краска-спрей


            %li.offer-card
              %h3.offer Упаковка для оформления подарков
              %ul.offer-text
                %li Бант-бабочка
                %li Бант-звезда
                %li Бант-шар
                %li Коробка трансформер
                %li Наполнители флористические
                %li Шнуры
                  %small (бумажные, витые двухцветные)
                %li Подарочные мешочки
                %li Новогодние коробки-матрешки
                %li Открытки, плакаты
                %li Скотч двухсторонний
                %li Сумки бумажные, ламинированные
                %li Сумки Крафт
                %li Сумки голографические


      .row
        .columns.large-12.text-center
          %ul.button-group.even-1
            %li
              %a.button.tiny.secondary.text-center{:href => "tel:88162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
                %i.fa.fa-phone
                %b +7 (8162) 33-21-32
            %li
              %a.button.tiny.secondary.text-center{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"}
                %i.fa.fa-envelope-o
                %b sales@bmupack.ru



      .row
        .large-12.columns
          -#########################################
          -#########################################  Подарки, Декор и Оформление
          -#########################################
          %h3.header-on-dark Подарки, Декор и Оформление
          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3


            %li.offer-card
              %h3.offer Воздушные шары
              %ul.offer-text
                %li Шары пастель
                %li Шары пастель экстра
                %li Шары металлик
                %li Шары для Моделирования
                %li Наборы шаров с рисунком
                %li Наборы шаров без рисунка рисунком
                %li Насосы
                %li Палочки
                %li Розетки

            %li.offer-card
              %h3.offer Керамика
              %ul.offer-text
                %li Вазы
                %li Статуэтки
                %li Фигурки декоративные
                %li Копилки
                %li Ландшафтные фигуры

            %li.offer-card
              %h3.offer Наборы
              %ul.offer-text
                %li Настольные игры
                %li Наборы для барбекю
                %li Наборы для вина
                %li Подарочные наборы
                %li Наборы для чая
                %li Наборы посуды
                %li Наборы кухонного текстиля

            %li.offer-card
              %h3.offer Сувениры
              %ul.offer-text
                %li Ключницы
                %li Книги-сейфы
                %li Куклы декоративные
                %li Метеостанции
                %li Подставки для украшений
                %li Кружки, термосы
                %li Светильники
                %li Магниты
                %li Фотоальбомы, Фоторамки
                %li Часы
                %li Шкатулки

            %li.offer-card
              %h3.offer Аксессуары
              %ul.offer-text
                %li Антистрессы
                %li Брелоки
                %li Зажигалки
                %li Зеркальца
                %li Пепельницы
                %li Фляги

            %li.offer-card
              %h3.offer Другое
              %ul.offer-text
                %li Свечи и Подсвечники
                  %small (день рождения, пасха)
                %li Мыло-скраб
      .row
        .large-12.columns
          -#########################################
          -#########################################  Подарки
          -#########################################
          %h3.header-on-dark Праздники

          %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3

            %li.offer-card
              %h3.offer Праздничная атрибутика
              %ul.offer-text
                %li Оформление Свадьбы
                %li Оформление Выпускного
                %li Оформление для Новорожденного
                %li Для Патриотов России
                %li Гирлянды
                %li Игры, призы
                %li Новогодние украшения
                %li Карнавальные принадлежности
                %li Колпаки
                %li Конфетти, хлопушки
                %li Мыльные пузыри
                %li Флаги
                %li Язык-гудок
                %li Мишура

            %li.offer-card
              %h3.offer Оформление Свадьбы
              %ul.offer-text
                %li Бокалы, украшения для бокалов
                %li Фотоальбом
                %li Папка для свидетельства
                %li Лепестки роз
                %li Корзинка для лепестков
                %li Шляпа-бантик
                %li Веночек
                %li Гирлянда
                %li Деньги на выкуп
                %li Держатель для карточки/визитки
                %li Замки
                %li Значки
                %li Книга пожеланий и Альбомы
                %li Колокольчики
                %li Украшения для машины
                %li Кольца для автомобиля
                %li Наборы свадебных лент
                %li Магниты на машину
                %li Костюмы на шампанское
                %li Ленты на грудь
                %li Медали
                %li Подвязки
                %li Подставки для колец, подушечки
                %li Рушники
                %li Семейные очаги
                %li Сумочки, сундуки
                %li Тарелки для битья
                %li Топперы



      .row
        .columns.large-12.text-center

          %ul.button-group.even-1
            %li
              %a.button.tiny.alert.text-center{:href => "tel:88162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"}
                %i.fa.fa-phone
                %b +7 (8162) 33-21-32
            %li
              %a.button.tiny.alert.text-center{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"}
                %i.fa.fa-envelope-o
                %b sales@bmupack.ru




    .row-large.blue-background
      .row
        .large-12.columns
          %h3.text-center Контакты
          %p.contacts-text
            Хотите получать эксклюзивные предложения?
            Не успеваете на привоз?
            Присоединяйтесь и получайте всю необходимую информацию
            %strong прямо сейчас!
          %hr.contacts-block
          %ul.address
            %li Великий Новгород
            %li Улица Великая, 22
            %li
              %a.small-sub{href:"https://www.google.ru/maps/place/%D0%91%D0%BE%D0%B3%D0%B0%D1%82%D1%8B%D0%B9+%D0%9C%D0%B8%D1%80+%D0%A3%D0%BF%D0%B0%D0%BA%D0%BE%D0%B2%D0%BA%D0%B8/@58.540999,31.2655603,17z/data=!3m1!4b1!4m5!3m4!1s0x46beebad91b122b3:0x3870373e95ddffb2!8m2!3d58.540999!4d31.267749?hl=ru", target: "_blank", onclick: "yaCounter45549195.reachGoal('openMap'); return true;"} Открыть в картах
          %hr.contacts-block
          %ul.phones
            %li
              %a{:href => "tel:+78162332131", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 8162 33 - 21 - 31
            %li
              %a{:href => "tel:+78162332132", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 8162 33 - 21 - 32
            %li
              %a{:href => "tel:+78162332133", onclick: "yaCounter45549195.reachGoal('callPhone'); return true;"} +7 8162 33 - 21 - 33

          %hr.contacts-block
          %ul.center.social
            %li
              %a{:href => "https://www.instagram.com/bmupack", target: "_blank", onclick: "yaCounter45549195.reachGoal('openSocialInstagram'); return true;"}
                %img.social.soc-inst{src: "images/instagram.png"}
            %li
              %a{:href => "https://vk.com/bmupack", target: "_blank", onclick: "yaCounter45549195.reachGoal('openSocialVK'); return true;"}
                %img.social{src: "images/vklogo.svg"}

          %hr.contacts-block
          %ul.email.phones
            %li
              %a{:href => "mailto:sales@bmupack.ru", onclick: "yaCounter45549195.reachGoal('sendEmail'); return true;"} sales@bmupack.ru

          %hr.contacts-block
          %ul.worktime
            %li
              %strong 9:00 - 17.00
              — Будни
            %li
              %strong 9:00 - 14.00
              — Суббота
            %li
              %strong Выходной
              — Воскресенье


    %script{"data-dojo-config" => "usePlainJson: true, isDebug: false", :src => "//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js", :type => "text/javascript"}
    :javascript
      require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"42fad91015d9344b12e8586c6","lid":"b4dc660367"}) })
